.footer {
  &__container {
    .copyright {
      width: 100%;
      height: 40px;
      color: #fff;
      font-weight: bold;
      text-align: center;
      line-height: 40px;
      border-top: #d7d7d7 1px solid;
      background: #000;
    }
  }

  &__wrap {
    display: flex;
    width: 1200px;
    margin: 30px auto;

    .title {
      margin-bottom: 15px;
      color: #666;
      font-size: 20px;
      font-weight: bold;
    }

    .link {
      display: block;
      margin-top: 5px;
      color: #666;

      &:hover {
        color: #1890ff;
      }
    }

    .wrap {
      margin-right: 100px;

      &--right {
        margin-left: auto;
        margin-right: 0;
        text-align: right;

        .title {
          color: #999;
          font-size: 24px;
        }

        .info {
          margin-top: 5px;
        }
      }
    }
  }
}