.recommend-link {
  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 180px;
    padding: 0 20px;

    .wrap {
      position: relative;
      width: 48%;
      height: 180px;
      border-radius: 20px;
      background: #000;

      .slogan {
        position: absolute;
        top: 50%;
        left: 50%;
        color: #fff;
        font-size: 45px;
        font-weight: bold;
        text-shadow: 0px 4px 20px #333;
        letter-spacing: 12px;
        white-space: nowrap;
        transform: translate(-50%, -50%);
      }

      .img {
        width: 100%;
        height: 180px;
        border-radius: 20px;
        opacity: .95;
      }
    }
  }
}