.feature-list {
  &-container {
    padding: 0 20px 20px 20px;
  }

  &-wrap {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 110px;
    margin: 20px 0;
    padding: 10px 0;
    border-radius: 20px;
    background: #fff;
    box-shadow: 0 8px 12px -4px#e7e7e7;

    .icon {
      width: 60px;
      height: 60px;
      margin: 0 40px;
    }

    .feature {
      color: #555;
      font-size: 36px;
    }

    .arrow {
      position: absolute;
      right: 40px;
      width: 60px;
      height: 60px;
    }
  }
}
