.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tag {
  margin-left: .2em;
}

.setting-open {
  bottom: 0 !important;
}

.exam-status {
  position: fixed;
  left: 0;
  bottom: -16em;
  width: 100vw;
  height: 19em;
  transition: bottom .25s ease;

  .exam-footer {
    @extend .flex;

    height: 3em;
    padding: 0 .5em;
    color: #666;
    border-top: #d7d7d7 1px solid;
    border-bottom: #d7d7d7 1px solid;
    background-color: #fff;

    .star {
      @extend .flex;
      @extend .tag;
    }

    .progress {
      @extend .flex;
      @extend .tag;

      .tag {
        font-weight: bold;
      }
    }

    .setting {
      @extend .flex;
      @extend .tag;
    }
  }

  .exam-setting {
    height: 16em;
    background: #fff;

    .font-setting {
      padding: 1em 0;

      .font-size {
        @extend .flex;
        justify-content: center;
        flex-direction: column;
        font-weight: bold;
      }
    }

    .background-setting {
      @extend .flex;
      justify-content: space-evenly;

      .background {
        width: 3em;
        height: 3em;
        border-radius: 50%;
        background: red;
      }
    }
  }
}

.float-layout-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
}

.setting-mass {
  display: block;
  opacity: .1;
}
