/* colors
----------------------------- */
$color-primary:#fa4b2a !default;
$color-dark:#666 !default;
$color-light: #fff !default;

/* button-colors
----------------------------- */

/* background-colors
----------------------------- */
$bg-color-primary:#fa4b2a;

/* border-colors
----------------------------- */
$border-color-primary:#fa4b2a;

/* font
----------------------------- */
$font-size-primary:1.4em;
