.header {
  &__container {
    min-height: 50px;
  }

  &__wrap {
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 50px;
    padding: 0 20px;
    background: #333;
    z-index: 999;

    .logo {
      height: 30px;
      color: #fff;
      line-height: 30px;
      font-size: 18px;
      font-weight: bold;
    }

    .info {
      margin-left: auto;

      span {
        margin-right: 10px;
        color: #fff;
      }
    }
  }
}
