.header {
  &__container {
    width: 100%;
    background: #333;
  }

  &__wrap {
    display: flex;
    align-items: center;
    width: 1200px;
    height: 50px;
    margin: 0 auto;
    padding: 0 15px;

    .logo {
      width: 130px;
      height: 30px;
    }

    .link {
      &__container {}

      &__wrap {
        display: inline-block;
        margin: 0 10px;
        line-height: 48px;
      }

      &__item {
        display: block;
        padding: 0 5px;
        color: #fff;
        font-size: 14px;
        text-decoration: none;
        border-bottom: transparent 2px solid;
        transition: all .3s ease;

        &:hover {
          border-color: #fff;
        }

        &--active{
          border-color: #fff;
        }
      }

      &__icon {
        margin-right: 5px;
        color: #d7d7d7;
      }
    }

    .action {
      &__container {
        margin-left: auto;
      }

      &__button {
        margin-left: 10px;
        margin-right: 30px;
        padding: 2px 15px;
        color: #fff;
        font-size: 14px;
        border: 0;
        outline: 0;
        border: #fff 1px solid;
        border-radius: 12px;
        background: transparent;
        transition: all .3s ease;
        cursor: pointer;

        &:hover {
          color: #fff;
          border: #fff 1px solid;
          background: #5be710;
        }

        &--login,
        &--register {
          margin-right: 0;
          color: #4F4F4F;
          border: #4F4F4F 1px solid;
          background: #fff;

          &:hover {
            color: #fff;
            border: #fff 1px solid;
            background: transparent;
          }
        }
      }
    }
  }
}