.study-container {

  .study-banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 400px;
    padding: 0 1em 100px 1em;
    background-image: linear-gradient(60deg, rgb(142, 177, 253) 0%, rgb(222, 255, 254) 80%);
    

    .bg {
      width: 300px;
      height: 300px;
    }

    .slogan {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 300px;
      height: 260px;
      color: #666;
      font-size: 1em;

      .title {
        color: #333;
        font-size: 62px;
        font-weight: bolder;
      }

      .button {
        padding: 10px;
        color: #fff;
        text-align: center;
        border-radius: 20px;
        background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
      }
    }
  }
}
