@import '../../styles/iconfont.scss';

.login {
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(-120deg, #66a6ff 0%, #6c62f8 100%);
  }

  &__wrap {
    display: flex;
    border-radius: 20px;
    box-shadow: 0 4px 8px #d7d7d7;

    &--left {
      width: 400px;
      height: 600px;
      background: #fff;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      background: url(../../assets/img/bg1.jpg) no-repeat;
      background-size: contain;
    }

    &--right {
      overflow: hidden;
      position: relative;
      width: 600px;
      height: 600px;
      background: #fff;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
    }
  }

  &__mask {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(51, 51, 51, 0.8);
    z-index: 2;

    &__container {
      position: fixed;
      top: 50%;
      left: 50%;
      width: 300px;
      transform: translate(-50%, -50%);
      z-index: 3;

      img {
        width: 300px;
        height: 300px;
      }

      .tips {
        height: 30px;
        margin-bottom: 15px;
        color: #fff;
        font-size: 24px;
        font-weight: bold;
        line-height: 24px;
        letter-spacing: 4px;
      }
    }
  }
}

.form {
  &__decoration {
    position: absolute;
    top: -80px;
    right: -80px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);

    .logo {
      position: absolute;
      bottom: 45px;
      left: 55px;
      color: #fff;
      font-size: 50px;
      font-weight: bold;
      line-height: 50px;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 600px;
    height: 600px;
    padding: 50px 80px 50px 80px;
  }

  &__title {
    margin: 20px 0 30px 0;
    color: #333;
    font-size: 36px;
    font-weight: bold;
  }

  &__wrap {
    position: relative;
    margin-bottom: 5px;
  }

  &__icon {
    position: absolute;
    left: 0;
    top: 50%;
    color: #d7d7d7;
    font-size: 24px;
    font-weight: bold;
    transform: translateY(-50%);
  }

  &__input {
    width: 80%;
    height: 40px;
    padding: 3px 10px 3px 30px;
    outline: none;
    color: #666;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    border-bottom: #666 1px solid;

    &::-webkit-input-placeholder {
      color: #b7b7b7;
    }
  }

  &__remember {
    color: #999;
  }

  &__button {
    cursor: pointer;
    width: 80%;
    height: 40px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 4px;
    outline: none;
    border: none;
    border-radius: 12px;
    background-image: linear-gradient(120deg, #66a6ff 0%, #6c62f8 100%);
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-top: 20px;
    color: #666;

    a {
      color: #666;

      &:hover {
        color: #1890ff;
      }
    }
  }

  &__link {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    img {
      cursor: pointer;
      width: 28px;
      height: 28px;
      margin: 0 0 0 10px;
    }
  }
}
