.options {
  &__container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__title {
    margin: 80px 0;
    text-align: center;
    font-size: 40px;
  }

  &__item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    width: 60%;
    height: 80px;
    border-radius: 40px;
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    color: #fff;
    font-size: 35px;
  }

  &__user{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100px;
    height: 30px;
    font-size: 20px;
  }
}

.match {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__slogan {
    color: #666;
    font-size: 1.4em;
    font-weight: bold;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    color: #333;

    image {
      width: 120px;
      height: 120px;
      margin-top: 20px;
      border-radius: 50%;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    color: #fff;
  }
}

.footer {
  &__container {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 400px;
  }
}

.ready {
  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    color: #fff;
  }
}

.game {
  &__container {
    position: relative;
    display: flex;
    padding: 0 20px;
  }

  &__userinfo {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    // margin-top: 80px;
    color: #333;
    font-size: 30px;

    View {
      order: 2;
    }

    Image {
      width: 100px;
      height: 100px;
      // margin-top: 20px;
      margin-right: 20px;
      border-radius: 50%;
      order: 1;
    }

    &--other {
      margin-left: auto;
      text-align: right;

      Image {
        order: 2;
        margin-left: 20px;
        margin-right: 0;
      }
    }
  }

  &__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-image: -webkit-linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
    font-weight: bold;
  }
}