@import '../../styles/iconfont.scss';

.forum-detail {
  &__container {
    padding-bottom: 12vw;
  }

  &__header {
    display: flex;
    align-items: center;
    padding: 3vw;

    .avatar {
      width: 12vw;
      height: 12vw;
      margin-right: 3vw;
      border-radius: 50%;
    }

    .author {
      color: #333;
      font-size: 1.2em;
      font-weight: bold;
    }

    .star {
      margin-left: auto;
      color: #999;
      font-size: 1.2em;
    }
  }

  &__image {
    width: 100vw;
    height: 50vw;
  }

  &__wrap {
    padding: 0 3vw;

    .title {
      margin: .4em 0;
      color: #666;
      font-size: 1.6em;
      font-weight: bold;
    }

    .content {
      margin: .8em 0;
      color: #666;
      font-size: 1.2em;
    }

    .time {
      color: #999;
      font-size: .6em;
      font-weight: normal;
    }
  }

  &__footer {
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 94vw;
    height: 10vw;
    padding: 2vw 3vw;
    color: #666;
    border-top: #d7d7d7 1px solid;
    background: #fff;

    .icon-like {
      margin-right: .2em;
      color: #fa4b2a;
      font-size: 2em;
    }

    .icon-comment {
      margin: 0 .2em;
      color: #66a6ff;
      font-size: 2em;
    }

    .input {
      flex: 1;
      margin-left: 2em;
      padding: 2vw 3vw;
      border: #d7d7d7 1px solid;
      border-radius: 20px;
    }
  }
}
