.index {
  &__container {
    width: 100%;
    height: 100vh;
  }
}

::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #d7d7d7;
}
